main{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.scrollbar {
	margin-left: 30px;
	float: left;
	height: 1100px;
	width: 65px;
	background: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 550px;
}
	
.scrollbar-primary::-webkit-scrollbar {
	width: 12px;
	background-color: #211f1f; 
}
	
.scrollbar-primary::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #1c1c1d; 
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #262222; 
}
	
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #1e1e1c; 
}

.dropdown-menu {
	max-height: 70vh;
	overflow:scroll; 
 }

body {
	background-image: url("dist_dark.jpg");
	background-position: bottom;
  	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/*
	width: 900 px;
	margin: auto;*/
	font-size: large;
	color: darkgoldenrod;
	background-color: #222200;
}

table{
    margin: 50px auto;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid #111;
    opacity: 90%;
    white-space: nowrap;
}

th, td {
    padding: 10px;
    white-space: nowrap;
}
